@font-face {
    font-family: "iconfont"; /* Project id 3961869 */
    src: url('//at.alicdn.com/t/c/font_3961869_p2ogi48fawi.woff2?t=1679194291019') format('woff2'),
         url('//at.alicdn.com/t/c/font_3961869_p2ogi48fawi.woff?t=1679194291019') format('woff'),
         url('//at.alicdn.com/t/c/font_3961869_p2ogi48fawi.ttf?t=1679194291019') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-lrc:before {
    content: "\e779";
  }
  
  .icon-icon-arrow-right2:before {
    content: "\e667";
  }
  
  .icon-shezhi:before {
    content: "\e624";
  }
  
  .icon-zuozuo:before {
    content: "\e648";
  }
  
  .icon-tuijian:before {
    content: "\e62a";
  }
  
  .icon-paixingbang:before {
    content: "\e6c5";
  }
  
  .icon-yuanxunhuanbofang:before {
    content: "\e61e";
  }
  
  .icon-youjiantou:before {
    content: "\e6e0";
  }
  
  .icon-jiantou_shangxiaqiehuan:before {
    content: "\eb09";
  }
  
  .icon-shangyishou:before {
    content: "\e63c";
  }
  
  .icon-xiayishou:before {
    content: "\e63e";
  }
  
  .icon-zuihuo:before {
    content: "\e681";
  }
  
  .icon-Notemelody:before {
    content: "\e6af";
  }
  
  .icon-Playerplay:before {
    content: "\e6b0";
  }
  
  .icon-Playerpause:before {
    content: "\e6b1";
  }
  
  .icon-xihuan:before {
    content: "\e7ae";
  }
  
  .icon-yinliang:before {
    content: "\e608";
  }
  
  .icon-sousuo:before {
    content: "\e60e";
  }
  
  .icon-xihuan1:before {
    content: "\e6dd";
  }
  
  .icon-zuixin:before {
    content: "\e665";
  }
  
  .icon-xuanzhong:before {
    content: "\e685";
  }
  
  .icon-a-xiala2:before {
    content: "\e621";
  }
  